*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merienda', cursive;
}

.light{
  background-color: White;
  color: Black;
  transition:all 0.3s;
}
.dark{
  background-color: Black;
  color: White;
  transition:all 0.3s;
}
